*.py[cod]
log
settings.py~

lib/gcloud-python/
lib/google-cloud-datastore-orm/
lib/huey/
lib/oauth2client/

.DS_Store
*.csv
*.log
.pydevproject
.project
gen/
.appcfg_cookies
.idea/

.settings/
covreporter/

*.scss.

*.scssc

*.sass.

local_settings.py

bower_components/
node_modules/
npm-debug.log
src/
/env
